#titre {
    text-align: center;
    font: bold;
    font-size: 30px;
    font-family: "Arial Black", Gadget, sans-serif;
    vertical-align: middle;
    line-height: 70px;
    color: #537895
}

#map1 {
    float:left;
    width:50%;
    height: 80%;
}

#map2 {
    margin-left:50%;
    height: 80%;
}

body {
    background-color: #F3F0F0;
}